In [1]:
# imports
import pandas as pd

In [2]:
# load in data
df_1 = pd.read_csv('/Users/josephbell/Downloads/SPX_hr5aqh2 2/SPX_2000_2009.txt', sep=",", header=None,
                names=["DateTime", "Open", "High", "Low", "Close"])
print(df_1.shape)
df_1.head()

(266973, 5)

              DateTime     Open     High      Low    Close
0  2007-04-30 09:30:00  1494.07  1494.89  1494.07  1494.89
1  2007-04-30 09:31:00  1494.60  1494.60  1494.48  1494.48
2  2007-04-30 09:32:00  1494.49  1494.82  1494.49  1494.77
3  2007-04-30 09:33:00  1494.84  1495.32  1494.84  1495.29
4  2007-04-30 09:34:00  1495.36  1495.36  1494.98  1495.09

In [3]:
# load in data
df_2 = pd.read_csv('/Users/josephbell/Downloads/SPX_hr5aqh2 2/SPX_2010_2019.txt', sep=",", header=None,
                names=["DateTime", "Open", "High", "Low", "Close"])
print(df_2.shape)
df_2.head()

(992768, 5)

              DateTime     Open     High      Low    Close
0  2010-01-04 09:30:00  1116.56  1122.15  1116.56  1122.15
1  2010-01-04 09:31:00  1122.65  1123.80  1122.65  1123.80
2  2010-01-04 09:32:00  1123.96  1124.23  1123.95  1124.23
3  2010-01-04 09:33:00  1124.27  1124.27  1124.05  1124.23
4  2010-01-04 09:34:00  1124.17  1124.29  1124.17  1124.26

In [4]:
# load in data
df_3 = pd.read_csv('/Users/josephbell/Downloads/SPX_hr5aqh2 2/SPX_2020_2020.txt', sep=",", header=None,
                names=["DateTime", "Open", "High", "Low", "Close"])
print(df_3.shape)
df_3.head()

(90339, 5)

              DateTime     Open     High      Low    Close
0  2020-01-02 09:30:00  3244.67  3247.40  3244.67  3247.22
1  2020-01-02 09:31:00  3247.19  3247.22  3245.01  3245.22
2  2020-01-02 09:32:00  3245.07  3245.54  3244.16  3244.66
3  2020-01-02 09:33:00  3244.89  3247.69  3244.89  3247.61
4  2020-01-02 09:34:00  3247.38  3248.08  3246.92  3246.92

In [6]:
# concatenate dataframes
frames = [df_1, df_2, df_3]
df = pd.concat(frames)
print(df.shape)
df.head()

(1350080, 5)

              DateTime     Open     High      Low    Close
0  2007-04-30 09:30:00  1494.07  1494.89  1494.07  1494.89
1  2007-04-30 09:31:00  1494.60  1494.60  1494.48  1494.48
2  2007-04-30 09:32:00  1494.49  1494.82  1494.49  1494.77
3  2007-04-30 09:33:00  1494.84  1495.32  1494.84  1495.29
4  2007-04-30 09:34:00  1495.36  1495.36  1494.98  1495.09

In [3]:
# TODO - concatenate multiple txt files to include all data in the dataset
# separate out date and time or leave?
# look at price perecentage gain of each day from 3:30 pm to 3:40, 3:50, 4:00 pm
# see if there is any pattern
# could compare it to other 30 minute intervals