In [2]:
# imports
import pandas as pd

In [6]:
# load in data
df = pd.read_csv('/Users/josephbell/Downloads/SPX_hr5aqh2 2/SPX_2010_2019.txt', sep=",", header=None,
                names=["DateTime", "Open", "High", "Low", "Close"])
df.head()

              DateTime     Open     High      Low    Close
0  2010-01-04 09:30:00  1116.56  1122.15  1116.56  1122.15
1  2010-01-04 09:31:00  1122.65  1123.80  1122.65  1123.80
2  2010-01-04 09:32:00  1123.96  1124.23  1123.95  1124.23
3  2010-01-04 09:33:00  1124.27  1124.27  1124.05  1124.23
4  2010-01-04 09:34:00  1124.17  1124.29  1124.17  1124.26

In [ ]:
# TODO - concatenate multiple txt files to include all data in the dataset